@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

body, html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(255, 255, 255);
}

button {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    box-shadow: 1px 1px gainsboro;
}

#logotext {
    font-size: 4vw;
}

.logo img {
    border-radius: 50%;    
}

.headerbutton {
    font-weight: 600;
    font-size: 3vw;
    border-radius: 0.5rem;
    color: #d5dadb;
    text-decoration: none;
    background-color: rgb(126, 6, 6);
    border-style: none;
    cursor: pointer;
}

.headerbutton:hover {
    background: linear-gradient(to left, rgb(176, 165, 12) 34%, rgb(126, 6, 6) 65%) right;
    color: rgb(213, 227, 214);
    background-size: 300% 100%;
    transition: 1s;
}

.projectbutton {
    background-color: rgb(3, 69, 150);
}

.projectbutton:hover {
    background: linear-gradient(to left, rgb(41, 208, 55) 34%, rgb(3, 69, 150) 65%) right;
    background-size: 300% 100%;
}

.introduction-text h3 {
    font-size: 3vw;
}

.introduction-text p {
    font-size: 2.3vw;
}

.language-choice button{
    font-size: 3vw;
    border-style: none;
    font-weight: 700;
}

.language-choice button:hover{
cursor: pointer;
}

.language_button_HTML5 {
    background-color: rgb(157,8,8);
    color: azure;
}
.language_button_CSS3 {
    background-color: rgba(0,157,139,1);
    color: azure;

}
.language_button_PHP {
    background-color: rgb(181, 35, 181);
    color: azure;

}
.language_button_JavaScript {
    background-color: yellow;
    color: black;

}
.language_button_Bootstrap {
    background-color: rgb(90, 0, 128);
    color: azure;

}

.language_explained_text h3 {
    background: rgb(157,8,8);
    background: linear-gradient(90deg, rgba(157,8,8,1) 16%, rgba(215,4,4,1) 38%, rgba(246,33,0,1) 82%);
    background: rgb(3,219,206);
    background: linear-gradient(90deg, rgba(3,219,206,1) 13%, rgba(0,153,135,1) 21%, rgba(0,152,127,1) 39%, rgba(0,246,235,1) 58%);
    
    
    color: azure;
    font-size: 3vw;
}

.language_explained_text h3 {
    font-size: 3.4vw;
}

.language_explained_text p {
    font-size: 2.7vw;
}
