.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.side-padding {
    padding: 0 10% 0;
}
.text-padding {
    padding: 1% 0% 1%;
}
.title-padding {
    padding: 4% 0% 4%;
}




header {
    justify-content: space-around;
}

.logo {
    margin: 2% 0% 2%;
}

.logo img {
    margin: 2% -2% 2%;
    margin-right: 0.05rem;
    width: 22%;
    height: 22%;
}

.headerbutton {
    padding: 0.95vw 1.75vw;
    margin-left: 1vw;
}

.projectbutton {
    margin-right: 0.5rem;
}

.introduction-text {
    padding: 1% 0% 1%;
}


.introduction-text div:first-child {
    padding-top: 2%;
}

.picture img {
    width: 100%;
    height: 100%;
    padding-left: 10%;
}



.language-choice {
    justify-content: space-between;
}

.language-choice button {
    padding: 1% 0% 1%;
    width: 100%;
}

 .language_explained_text {
    justify-content: space-between;

}

.language_explained_text {
    width: 90%;
}

.language_explained_text h3 {
    padding: 1% 1% 1% ;
}

.language_explained_text p {
    padding: 1% 1% 1% ;
}

.language_explained_text {
    width: 100%;
}

.language-logo {
    width: 30%;
}

.language_explained_text img {
    width: 15vw;
    margin-top: 31%;
}

.language_bar_box h4 {
    margin-top: 2%;
}

.language_bar {
    width: 90%;
    margin: 1% 2% 2%;
}

.background_language_text {
    width: 100%;
}


