.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.side-padding {
    padding: 0 10% 0;
}
.text-padding {
    padding: 1% 4% 1%;
}


header {
    justify-content: space-around;
    margin-bottom: 2%;
}

.logo {
    margin: 2% 0% 2%;
}

.logo img {
    margin-right: 0.5rem;
    width: 22%;
    height: 22%;
}

.headerbutton {
    padding: 0.95vw 1.75vw;
    margin-left: 1vw;
}

.projectbutton {
    margin-right: 0.5rem;
}

.introduction-text h3 {
    padding: 1% 1% 1%;
}

.introduction-text p {
    padding: 1% 1% 1%;
}

.introduction-text div:first-child {
    padding-bottom: 1%;
}

.picture img {
    width: 100%;
    height: 100%;
    padding-left: 10%;
}



.language-choice {
    justify-content: space-between;
}

.language-choice button {
    padding: 1% 0% 1%;
    width: 140%;
}

 .language_explained {
    justify-content: space-between;
}
.language_explained_text h3 {
    padding: 1% 4.5% 1% ;
    /* width: 0%; */
}

.language_explained_text p {
    padding: 1% 4.5% 1% ;
    /* width: 80%; */
}



.language_explained img {
    width: 100%;
    padding: 2% 2% 2%;
    /* background-color: orangered; */
}

/* .language_explained img {
    justify-content: flex-start;
    width: 50%;
    padding-top: 2%;
    background-color: orangered;
}  */