@media screen and (max-width: 28rem) {

    .headerbutton {
        font-weight: 600;
    }

    .introduction-text h3 {
        font-size: 1rem;
    }
    
    .introduction-text p {
        font-size: 0.75735rem;
    }
    
    .language_explained_text h3 {
        font-size: 1.122rem;
        text-align: center;
    }
    
    .language_explained_text p {
        font-size: 0.75735rem;
    }

}

@media screen and (min-width: 50rem) {

    #logotext {
        font-size: 2rem;
    }

    .headerbutton {
        font-size: 1.5rem;
    }

    .introduction-text h3 {
        font-size: 1.75rem;
    }
    
    .introduction-text p {
        font-size: 1rem;
    }
}